/*
Colour Palette
Red: #C33820
Green: #29FE14
Blue: #33BBC7
*/

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf');
}

pre code, .context {
  font-family: 'Roboto Mono', monospace;
}

.sync-indicator {
  display: inline-block;
  padding-left: 23px;
  margin-top: 1px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sync-indicator .icon {
  position: absolute;
  left: 10px;
}

.is-animating {
  transform-origin: 50% 50%;
  animation: spin 1s infinite linear;
}

.project-title {
  height: 40px;
  background: #000;
  color: #fff;
  width: 100%;
}

/* List Style */
.package-list {
  background: #181818;
}

.package-list li:last-child {
  border-bottom: 1px solid #292929;
}

.package-title {
  font-size: 14px;
  color: #666;
}

.package-list li {
  padding-left: 40px;
  position: relative;
  transition: all 0.25s;
  background: #181818;
  color: #666;
  border-top: 1px solid #292929;
}

.package-list li.processing, .package-list li.active.processing {
  background: #181818;
  color: #666;
}

.package-list li.active {
  transition: all 0.25s;
  background: #181818;
  color: #999;
  border-top: 1px solid #292929;
}

.package-list li.active .package-title {
  color: #fff;
}

.package-list li.processing .package-title, .package-list li.active.processing .package-title {
  color: #666;
}

.package-list li:hover {
  background: #0F0F0F;
}

/* Processing */
.package-list li.processing:hover {
  background: #181818;
}

/* Ring */
.package-list li .icon {
  position: absolute;
  top: 20px;
  left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #33BBC7;
}

.package-list li.processing .icon, .package-list li.active.processing .icon  {
  width: auto;
  height: auto;
  border-radius: 0;
  border: none;
  position: absolute;
  top: 10px;
  left: 9px;
  transform-origin: 50% 50%;
  animation: spin 1s infinite linear;
  font-size: 25px;
  color: #FFBD2E;
}

.package-list li.processing .icon:before {
  content: '\e891';
  position: relative;
  display: inline-block;
  font-family: "photon-entypo";
  speak: none;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.package-list li.active .icon {
  border: 2px solid #29FE14;
}

/*.package-list li.processing .ring, .package-list li.active.processing .ring {
  border: 2px solid #FFBD2E;
}*/
