.darwin .arrow
  z-index 10
  width: 24px
  height: 24px
  border-top-left-radius 4px
  background #e8e6e8
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left -12px
  -webkit-transform: rotate(45deg)
  clip: rect(0px,18px,18px,0px);

.darwin .linux
  display none