@require 'variables.styl'

$background-colour = $black

html
  height: 100%
  width: 100%
  overflow: hidden

body
  height: 100%
  padding: 0
  margin: 0
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif
  font-size: 13px
  line-height: 1.6
  color: #fff
  background-color: transparent

hr
  margin: 15px 0
  overflow: hidden
  background: transparent
  border: 0
  border-bottom: 1px solid #ddd

.window
  position: absolute
  overflow: hidden
  top: 14px
  right: 24px
  bottom: 24px
  left: 24px
  display: flex
  flex-direction: column
  background-color: transparent
  border-radius: 5px
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.4)

.window-content
  background $background-colour
  position: relative
  overflow-y: auto
  display: flex
  flex: 1
