@require 'variables.styl'

.toolbar {
  color: #fff;
  background-color: #11111;
}
.toolbar:before, .toolbar:after {
  display: table;
  content: " ";
}
.toolbar:after {
  clear: both;
}
.toolbar-header
  border-bottom 1px solid #0A0A0A

  .toolbar-actions
    background #131313

.toolbar-footer {
  min-height 36px;
  border-top 1px solid #000
  -webkit-app-region: drag;
}

.title {
  margin: 0;
  padding: 6px 0
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  cursor: default;
}

.toolbar-borderless {
  border-top: 0;
  border-bottom: 0;
}

.toolbar-actions {
  -webkit-app-region: drag;
}
.toolbar-actions:before, .toolbar-actions:after {
  display: table;
  content: " ";
}
.toolbar-actions:after {
  clear: both;
}
.toolbar-actions > .btn,
.toolbar-actions > .btn-group {
  margin-left: 4px;
  margin-right: 4px;
}
