@require 'variables.styl'

@font-face
  font-family 'Roboto Mono'
  src url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf')

@font-face
  font-family 'VT323'
  font-size: 16px
  src url('../fonts/VT323/VT323-Regular.ttf')

pre code, .context
  font-family 'Roboto Mono', monospace

h1, h2, h3, h4, h5, h6
  margin-top: 20px
  margin-bottom: 10px
  font-weight: 500
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

h1
  font-size: 36px

h2
  font-size: 30px

h3
  font-size: 24px

h4
  font-size: 18px

h5
  font-size: 14px

h6
  font-size: 12px
