.package-title
  font-size 14px
  color #666

.package-list li
  padding-left 40px
  position relative
  transition all 0.25s
  background #181818
  color #666
  border-top 1px solid #292929

.package-list li.processing,
.package-list li.active.processing
  background #181818
  color #666

.package-list li.active
  transition all 0.25s
  background #181818
  color #999

.package-list li.active .package-title
  color #fff

.package-list li.processing .package-title,
.package-list li.active.processing .package-title
  color #666

/* Processing */
.package-list li.processing:hover
  background #181818

.package-list li.processing .icon,
.package-list li.active.processing .icon
  width auto
  height auto
  border-radius 0
  border none
  position absolute
  top 10px
  left 9px
  transform-origin 50% 50%
  animation spin 1s infinite linear
  font-size 25px
  color #FFBD2E

.package-list li.processing .icon:before
  content '\e891'
  position relative
  display inline-block
  font-family "photon-entypo"
  speak none
  font-size 100%
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased

.package-list li.active .icon
  border 2px solid #29FE14
