$background-colour = $grey-dark
$background-colour-hover = #0F0F0F
$border-color = #292929
$colour-muted = #666

.list-group
  width: 100%
  list-style: none
  margin: 0
  padding: 0

.list-group *
  margin: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.list-group-item
  transition all 0.25s
  position: relative
  padding: 10px
  font-size: 12px
  background: $background-colour
  color: $colour-muted
  border-top: 1px solid $border-color

.list-group-item:first-child
  border-top: 0

.list-group-item:last-child
  border-bottom: 1px solid $border-color

.list-group-item-title
  font-size 14px

.list-group-item.active, .list-group-item.selected
  color: #EEEEEE

.list-group-item:hover
  background $background-colour-hover
